<h1><%= current_game %> level <%= @level.depth %></h1>

<ul>
  <li>Player <%= current_game.user %></li>
  <li><%= link_to "regenerate level (debug only)", game_level_regenerate_path(current_game, @level), method: :post, data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Tiles</h2>

Go
<%= link_to "north", game_level_north_path(current_game, @level), method: :post %>
<%= link_to "south", game_level_south_path(current_game, @level), method: :post %>
<%= link_to "west", game_level_west_path(current_game, @level), method: :post %>
<%= link_to "east", game_level_east_path(current_game, @level), method: :post %>

<%# Load all monsters for performance reasons %>
<% monsters = @level.monsters.map do |monster|
  [ [monster.monster_x, monster.monster_y], monster ]
end.to_h %>

<table>
  <% @level.tiles_as_arrays.each.with_index do |row, y| %>
    <tr>
      <% row.each.with_index do |column, x| %>
        <td>
          <%= column %>
          <% if y == current_game.player_y && x == current_game.player_x %>
            Me!
          <% end %>
          <% if monsters[[x, y]] %>
            <%= monsters[[x, y]] %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
