<!DOCTYPE html>
<html>
  <head>
    <title>Reactworld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation">
      <% if current_user %>
        <%= link_to "Your games", root_path %>
        <%= link_to "Sign out", signout_path %>
        <%= current_user.name %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_login" %>
      <% end %>
    </div>

    <% if flash[:errors].present? %>
      <div class="error">
        <%= flash[:errors] %>
      </div>
    <% end %>

    <% if flash[:notices].present? %>
      <div class="notice">
        <%= flash[:notices] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
