<!DOCTYPE html>
<html>
  <head>
    <title>Reactworld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:errors].present? %>
      <div class="error">
        <%= flash[:errors] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
